*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile

go.work
go.work.sum
.env
.DS_Store

/phenomena
/android/.gradle/
/android/.idea/
/android/local.properties
/android/build/
/android/app/build/
/android/app/libs/*.aar
/android/app/libs/*-sources.jar
!/android/app/libs/.gitkeep
